.upload-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-area {
    display: flex;
    justify-content: center;
    align-content: center;
}

.upload-box{
    box-sizing: border-box;
    height: 99%;
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.upload-box > img {
    height: 133px;
    width: 160px;
    margin-bottom: 15px;
}

.upload-box > img:hover {
    transform: scale(1.05);
    transition: 0.1;
    opacity: 0.8;
}