.Video {
    display: flex;
}
.vid{
    width: 763px;
    height: 428px;
}
.player{
    margin-left: 24px;
    padding: 24px 0 0 24px;
    /* border: 1px solid purple; */
    width: 770px;
    height: 100vh;
}
#titulo {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 8px 0 0;
}
.views-n-likes {
    display: flex;
    align-items: center;
    width: 100%;
    /* border: 1px solid green; */
}
.likes {
    display: flex;
}
.likebox {
    display: flex;
    align-items: center;
    color: grey;
}
.dislikebox {
    display: flex;
    align-items: center;
    color: grey;
    
}
#like-button{
    border: none;
    
}
#dislike-button{
    border: none;
}
.category-list {
    height: 100vh;
    width: 436px;
    border: 1px solid red;
    margin: 24px 0 0 24px;
}
.suggested-list {
    display: flex;
    height: 145px;
    width: 95%;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border: 1px solid blue;
}
.suggested-list>video {
    height: 117px;
    width: 210px;
}
.category-desc {
    height: 117px;
    width: 250px;
    padding-right: 24px;
    margin-left: 5px;
    border: 1px solid purple;
}
.category-desc>h4{
    font-weight: bold;
}
