.nav{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    height: 56px;
    border-bottom: 1px solid gray;
    padding: 0 16px;
}
.hamburger{
    border: none;
}
#icon {
    color: rebeccapurple;
    font-size: 24px;
}
.search-button {
    width: 65px;
    border-radius: 0 2px 2px 0; 
    border: 1px solid rgb(206, 206, 206);
}
#menu {
    font-size: 19px;
}
.menu2 {
    width: 40px;
    height:40 px;
    margin-right: 16px;
}
img {
    padding-top: 3px;
    width: 20px;
    height: 20px;
    /* padding: 1px 6px; */
}
.utube{
    font-weight: bold;
    font-size: 20px;
}
#search-field {
    width: 526px;
    height: 30px;
}
#youtube {
    display: flex;
    align-items: center;
    margin-right: 50px;
}
::placeholder {
    font-size: 16px;
    padding-left: 5px;
}
.add-video{
    border: none;
}
#search{
    display: flex;
    align-items: center;
    margin: 0 60px;
}
#buttons{
    display: flex;
    align-items: center;
}
.user-btn {  
    border: none;
}
.user-image {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.sign-in{
    border: none;
    color: yellowgreen;
    font-weight: bold;
    font-size: 14.5px;
}
.sign-out-btn {
    border: none;
    color: yellowgreen;
    font-weight: bold;
    font-size: 14.5px;
}
.user-menu{
    position: absolute;
    margin-top: 9px;
    width: 300px;
    height: 200px;
    background: gray;
}

.user-account{
    display: flex;
    width: 100%;
    height: 72px;
    border: 1px solid red;
}
.user-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border: 1px solid black;
}

.menu-image {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.user-account-text {
    width: 100%;
    border: 1px solid blue;
}

.user-name {
    width: 100%;
    height: 50%;
    border: 1px solid blue;
}

.user-email {
    width: 100%;
    height: 50%;
    border: 1px solid blue;
}

.menu-channel {
    width: 100px;
    height: 60px;
}
.menu-sign-out {
    width: 100px;
    height: 60px;
}